@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

.active {
    background: rgba(34, 197, 94, 0.15);
    border-color: #22c55e;
}
* {
    font-family: 'Outfit', sans-serif;
}

select,input,textarea {
    border: 1px solid #334155;
    border-radius: 12px;
    background: #0f172a;
    color: #e2e8f0;
    outline-color: #22c55e;
}

body {
    background: #020617;
}